/* sets the body margin to 0 so that there is no separation of div and wall */
body{
    margin: 0;
    background: url("cbg.png") #f1f1f1;

}


/* Defines the inner container of the website where everything is stored
This defines all of the geneic styles like font */
.inner__container{
    /* defines font family using google fonts */
    font-family: 'Open Sans', sans-serif;

    /* uses css grids to make the layout easier to manipulate overall */
    display:grid;
    grid-template-columns: repeat(25, 1fr);
    grid-template-rows: repeat(25, 1fr);

    /* Generic container styling */
    margin: 0;
    height: 100%;
    width: 100%;
}


/* container for the logo (jl-white.svg) */
.logo__container{
    display: flex;
    width: auto;
    height: 100%;

}

.logo{
    display: block;
    /* Generic stying to limit svg size */
    max-width: 220px;
    height: auto;
    width:100%;
    /* Align the image vertically centered so that it looks nice */
    justify-content: center;
    flex-direction: column;
    align-self: center;
}

.logo__homepage{
    grid-column: 1 / 10;
    grid-row: 1 / 5;
}

/* adds a link to the JACIT logo and styles to keep the image centered */
.home{
    padding: 10px;
    max-width: 350px;
    height: 100%;
    width:100%;
    justify-content: center;
    align-self: center;
    align-items: center;
    display: flex
}


/* Styling for the logo (jl-white.svg) so that it fits centrally*/


/* vvvv This section will be removed in due time, but is a place holder currently vvvv */
.jacit__text{
    padding-right: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: auto;
    font-size: 20px;
    color: #fff;
    text-shadow: 1px, 1px rgb(228, 228, 228);
}
/*  ^^^^  This section will be removed in due time, but is a place holder currently ^^^^ */



/* This is the container that holds all of the things that appear at the top of the page */
.topbar__container{
    /* position: relative; */
    z-index: 1;
    display: flex;
    align-content: center;
    justify-content: space-between;
    grid-column: 1 / -1;
    grid-row: 1 / 4;
    border-bottom: solid white 1px;
    box-shadow: 1px 1px 2px 2px  #d4cece, 2px 2px 3px 3px #e4dede;
    background: #f0505e;
    background-image: url("cbg.png");
    margin: 0;
    height: 100%;
    width: 100%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

/* This contains all of the side bar items and containers on the front end */
.sidebar__nav{
    overflow-y: auto;
    overflow-x: hidden;
    background: #fff;
    grid-column: 1 / 5;
    grid-row:  4/ -1;
}


/* Yo dawg we heard you liked containers so we put containers in your containers so you can enjoy containers while in container */
.content__containers__container{
    padding: 20px;
    grid-column: 5 / -1;
    grid-row: 4 / -1;
}

.homepage__content{
    grid-column: 1 / -1;
    grid-row: 4 / -1;
}


 /* These two blocks are for the two different types of containers needed for the documentation */

 /* apply this class to text blocks that are supposed to be steps in the doccumentation */
.step{

    font-family: 'Open Sans', sans-serif;
    background: white;
    color: black;
    box-shadow:0 3px 6px rgba(245, 242, 242, 0.842), 0 3px 6px rgb(214, 214, 214);
}

/* apply this class to text blocks that are supposed to represent lines of code within the doccumentation */
.code{
    background: #282828;
    color: #f0505e;
    font-family: 'IBM Plex Mono', monospace;
}



.doc__cont{
    margin: 0 auto 20px auto;
    height: auto;
    padding: 10px;
}

.doc__cont > .doc__cont{
    margin: 10px auto 0 auto;
}

/*=================================================================================================================================*/
/*=================================================================================================================================*/
/*=================================================================================================================================*/
/*=================================================================================================================================*/
/*=================================================================================================================================*/




.item__container{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(auto,1fr);
    margin-top: 20%;
}


.list__item{
    color: #454545;
    grid-column: 1 / -1;
    padding: 2.5%;
    padding-left: 10%;
    border: solid 3px #f1f1f1;
    border-top: solid 2px #f1f1f1;
    border-left: none;
    text-align: left;
    margin-right: -2%;
}

.menu__object1{
    border-top: solid 5px #f1f1f1;
}
.menu__object10{
    border-bottom: solid 5px #f1f1f1;
}

.nav__items{
    display: flex;
    align-items: center;
    margin: 10px;
}

.menu{
    margin-right: 20px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(3, 1fr);
}


.nitem__container{
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    background: rgba(255, 255, 255, 0.801);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nitem__container.responsive{
    display: flex;
}

.nitem{
    font-family: 'IBM Plex Mono', monospace;
    margin: 10px;
    font-weight: 400;
    font-size: 20px;
    color: #454545;
}


.close{
    top: 19px;
    right: 20px;
    position: absolute;
    text-decoration: none;
    color: #f0505e;
    font-size: 30px;
}

.icon{
    font-size: 30px;
    text-decoration: none;
    color:white;
}

.mobile{
    display: none;
}

.desktopmenu{
    grid-row: 2 / 3;
    grid-column: 1 / -1;
}


.dnitems{
    display: flex;
    flex-direction: row;
    color: #000;
    text-decoration: none;
}

.dnitem{
    margin: 0 20px 0 5px;
    width: auto;
    height: auto;
    padding: 10 5 10 5;
    background: rgba(216, 77, 88, 0.151);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    transition: border-width 0.6s ease;
}


.dnitem::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #f0505e;
    transition: width .3s;
}


.dnitem:hover::after{
    color: #fff;
    border-bottom: solid 2px #454545;
    width: 100%;
    transition: width .3s;
}


.mobilemenu{
    grid-column: 10 / 11;
    grid-row: 2 / 3;
}






@media only screen and (max-width: 740px){

    .topbar__container{
        height: 80px;

    }

    .menu{
        width: 100px;

    }

    .logo{
        padding-left: 20px;
    }



    .desktopmenu{
        display: none;
        font-size: 1px;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }


    .mobile{
        display: block;
        color: #fff;
    }

    .sidebar__nav{
        visibility: hidden;
    }


    .topbar__container{
        grid-column: 1 / -1;
        grid-row: 1 / 2;
    }

    .content__containers__container{
        width: auto;
        grid-column: 1 / -1;
        grid-row: 2 / -1;
        background: #f1f1f1;
        background-image: url("cbg.png");
    
    }


    .list__item{
        padding:none;
        margin: none;
    }



.nav__items a:not(:first-child) {
    display: none;
}
    .nav__items a.icon {
      float: right;
      display: block;
}