body{
    background: black;
    font-family: 'Courier New', Courier, monospace;
}

/* This is an extra comment for the sake of commiting
/*font-family: 'Open Sans', sans-serif;
/*font-family: 'IBM Plex Mono', monospace;
*/



.inner__container{
    display:grid;
    grid-template-columns: repeat(25, 1fr);
    grid-template-rows: repeat(25, 1fr);
    margin: 0 auto;
    width: 60%;
    height: 100%;
    background: black;
    border: solid white 1px;
}

.logo{
    margin: 5px;
    margin-left: 10px;
    width: 100px;
    height: 100px;
}

.jacit__text{
    height: 100%;
    margin: 45 30 0 0;
}

.topbar__container{
    display: flex;
    justify-content: space-between;
    grid-column: 1 / -1;
    grid-row: 1 / 4;
    background: limegreen;
}

.sidebar__nav{
    overflow-y: scroll;
    background: aqua;
    grid-column: 1 / 5;
    grid-row: 6 / 24;
}

.content__containers__container{
    grid-column: 5 / -1;
    grid-row: 4 / -1;
    background: violet;

}